*
*.class
bin
lib

!src/
!src/*.java
!src/*/
!src/*/*.java
!src/*/*/
!src/*/*/*.java

!test/
!test/*Test.java
!test/*/
!test/*/*Test.java
!test/*/*/
!test/*/*/*Test.java

!*.md
!makefile
!.gitignore

Printer.java

!test[0-9].txt
!testAWK[0-9].awk
